*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.button {
  border: 1px solid #fff;
  padding: 0;
  color: inherit;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 700;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.button:focus {
  outline: none;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  text-decoration: none;
  background-color: #545050;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: -3px;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

/* Result */

.content {
  display: flex;
  align-items: end;
  gap: 30px;
  margin: 0 auto;
  inline-size: 1140px;
  block-size: 534px;
}

.result__video-container {
  position: relative;
  inline-size: 711px;
  block-size: 386px;
  margin-block-end: 16px;
}

.result__video {
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  margin-block-end: 5px;
}

.search-form__label {
  width: fit-content;
  font-family: "Fira Sans Condensed", sans-serif;
  transition-duration: 0.4s;
  cursor: pointer;
}

.search-form__label-text {
  font-weight: 400;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__textfield {
  min-width: 225px;
  border: none;
  border-block: 1px solid #fff;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  background-color: transparent;
  transition-duration: 0.4s;
  appearance: none;
}

.search-form__textfield:active {
  border: 1px solid #fff;
}

.search-form__textfield::placeholder {
  opacity: 0.7;
}

.search-form__label:has(:focus-visible) {
  border: 1px solid #fff;
  padding: 3px 1px;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(.search-form__pseudo-checkbox) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  inline-size: 62px;
  block-size: 23px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__checkbox:active + .search-form__pseudo-checkbox,
.search-form__checkbox:checked + .search-form__pseudo-checkbox {
  border: none;
  outline: 1px solid #1b1919;
  outline-offset: -2px;
  background-color: #fff;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  vertical-align: middle;
  transition-duration: 0.3s;
  cursor: pointer;
}

.search-form__submit-button {
  align-self: end;
  padding: 6px 74px;
  font-size: 18px;
}

/* content__details */

.content__details {
  display: flex;
  flex-direction: column;
  gap: 26px;
  inline-size: 100%;
  block-size: 100%;
}

.title {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 0.94;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  overflow-y: auto;
  block-size: 534px;
}

.content__list-item:not(:last-child) {
  margin-block-end: 30px;
}

.content__card-link {
  display: block;
  padding: 2px;
  color: #ffffff;
  text-decoration: none;
}

.content__card-link:hover {
  cursor: pointer;
}

.content__card-link:hover .content__video-card-title,
.content__card-link:hover .content__video-card-description {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

.content__card-link_current,
.content__card-link:active {
  background-color: #545050;
  transition-duration: 0.3s;
}

.content__card-link:active:hover .content__video-card-title,
.content__card-link:active:hover .content__video-card-description {
  text-decoration: none;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: -1px;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.content__video-card-description-container {
  inline-size: 100%;
}

.content__video-card-title {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
}

.content__video-card-title:not(:last-child) {
  margin-bottom: 6px;
}

.content__video-card-description {
  padding-block-end: 2px;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  line-height: 0.9;
}

.content__video-card-thumbnail {
  object-fit: cover;
  min-inline-size: 194px;
  block-size: 103px;
}

.more-button {
  align-self: end;
  padding: 6px 74px;
  font-weight: 700;
  font-size: 18px;
  inline-size: 100%;
}
