*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}



/* Result */

.content {
  margin:0 auto;
  inline-size: 1140px;
  block-size: 534px;
  display: flex;
  justify-content: center;

  gap:30px;
  align-items: end;

}
.result {

}
.result__video-container {
  position: relative;
  inline-size: 711px;
  block-size: 456px;
  padding-block-end: 56.2%;
}

.result__video-container:not(:last-child) {
  margin-block-end: 16px;
}
.result__video {
  position: absolute;
  inset:0;
  inline-size: 100%;
  block-size: 100%;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.search-form__fieldset {
}
.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;

}
.search-form__label {
}
.search-form__label-text {
}
.visually-hidden {
}
.search-form__textfield {
}
.search-form__checkbox-list {
}
.search-form__checkbox {
}
.search-form__pseudo-checkbox {
}
.button {
}
.search-form__submit-button {
}


/* content__details */

.content__details {
  inline-size: 100%;
  block-size: 100%;
  display: flex;
  flex-direction: column;
  gap:26px;
}
.title {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 0.94;
  text-transform: uppercase;
}
.content__accent {
  color:#545050;
}
.content__list {
  position: relative;
  display: flex;
  flex-direction: column;
  gap:30px;
  block-size: 534px;
  overflow-y: auto;
}
.preloader-template {
}
.preloader {
}
.preloader-chasing-squares {
}
.square {
}
.cards-list-item-template {
}
.content__list-item {
}
.content__card-link {
}
.content__video-card {
  display:flex;
  justify-content: space-between;
  align-items: start;
}
.content__video-card-description-container {
  inline-size: 100%;
}
.content__video-card-title {
}
.content__video-card-description {
}
.content__video-card-thumbnail {

  inline-size: 194px;
  block-size:103px;
  object-fit: cover;

}
.more-button-template {
}
.more-button {
}
.error-template {
}
.error {
}
.error__title {
}